{% extends "basic.html" %}
{% block content %}

Welcome to the Accounts page {{ username }}.<br><br>

{% if filename %}
  <img src="{{img_tag}}">
{% endif %}

<form action="../logout/">
  <input type="submit" value="Log Out">
</form>

{% endblock %}
