{% extends "basic.html" %}
{% block content %}

<form action="../artists/?key=" method="get" name="form"
  <label for"search"Search:</label>
  <input type="text" name="key" id="search"/>
  <input type="submit" name="" id="submit"/>
</form>

{% for artist in artist%}
<p>
{{ artist.artist }}<br>
</p>
{% endfor %}

{% endblock %}}
