<doctype html>
<html>
  <link rel="stylesheet" href="../static/css.css">
<body>
  <h1>Web Development Music Collection</h1>
  
  <ul>
    <li><a href="../index">Home</a></li>
    <li><a href="../artists">Browse Artists</a></li>
    <li><a href="../songs">Browse Songs</a></li>
    <li><a href="../genres">Browse Genres</a></li>
    <li><a href="../ratings">Top Rated</a></li>
    <li><a href="../addLogged">Add To Database</a></li>
    <li><a href="../accountLogged">Account</a></li>
  </ul>
  <br><br><br><br><br>
    {% block content %} {% endblock %}

</body>
</html>
