{% extends "basic.html" %}
{% block content %}

<form action="../search/?key=" method="get" name="form"
  <label for="search"Search:</label>
  <input type="text" name="key" id="search"/>
  <input type="submit" name="" id="submit"/>
</form>

</body>
</html>

{% endblock %}
