{% extends "basic.html" %}
{% block content %}

<form action="../login/" method="post">
  Username:<br>
  <input type="text" name="username" id="username"><br><br>
  Password:<br>
  <input type="password" name="password" id="password"><br><br>
  <input type="submit" id="login" value="Login">
</form>
<form action="../register/" method="get">
  <input type="submit" id="register" value="Sign Up">
</form>
{{ success }}
{{ userError }}
{{ passError }}
{{ noData }}

{% endblock %}
