{% extends "basic.html" %}
{% block content %}

<form action="../register/" method="post">
  Username:<br>
  <input type="text" name="username" id="username"><br><br>
  Password:<br>
  <input type="password" name="password" id="password"><br><br>
  <input type="submit" value="Register">
</form>
{{ message }}

{% endblock %}
