{% extends "basic.html" %}
{% block content %}

<form action="../search/?key=" method="get" name="form"
  <label for"search"Search:</label>
  <input type="text" name="key" id="search"/>
  <input type="submit" name="" id="submit"/>
</form>

{% for search in search %}
<p>
Artist: {{ search.artist }}<br>
Song: {{ search.song }}<br>
Album: {{ search.album }}<br>
Genre: {{ search.genre }}<br>
Rating: {{ search.rating }}<br>
Release Date: {{ search.release }}
</p>
{% endfor %}

{% endblock %}}
