{% extends "basic.html" %}
{% block content %}

<form action="../songs/?key=" method="get" name="form"
  <label for"search"Search:</label>
  <input type="text" name="key" id="search"/>
  <input type="submit" name="" id="submit"/>
</form>

{% for song in song%}
<p>
Artist: {{ song.artist }}<br>
Song: {{ song.song }}<br>
Album: {{ song.album }}<br>
Genre: {{ song.genre }}<br>
Rating: {{ song.rating }}<br>
Release Date: {{ song.release }}
</p>
{% endfor %}

{% endblock %}}
