{% extends "basic.html" %}
{% block content %}

<form action="" method="post" name="form" enctype="multipart/form-data">
  <input type="file" name="datafile" />
  <input type="submit" name="submit" id="submit"/>
</form>

{% endblock %}
