body{
    background: #ffffff;
    font-family: Sans-serif;
    color: #000000;
}

p{
    padding-left: 1cm;
}

ul {
    list-style-type: none;
    margin: 0;
}

h1 {
    padding-top: 1cm;
    padding-bottom: 1cm;
    color: #ffffff;
    padding-left: 1cm;
    background: #000000;
}

form {
    padding-left: 1cm;
}

a:link, a:visited{
  display: block;
  font-size: 24;
  background-color: #003399;
  color: #ffffff;
  padding: 20px;
  float: left;
}
